@import "../shared.scss";




.lstGauContainer {
    display: flex;
    /* align-content: center; */
    /* justify-content: flex-start; */
    flex-wrap: nowrap;
    flex-flow: column;
    background-color: transparent;
    width: 100%;
    border-right: 1px solid $rgba-line;

    overflow-x: hidden;
    overflow-y: auto; 
    
    & .loading {
        margin : 10px;
        text-align: center;
        background-color: black;
        color: $rgba-secondary-2-2;
        font-size: 1.25rem;
        margin : 5px 20px;
        border-radius: 10px;
    }

    & .loadingFile {
        margin : 10px;
        text-align: center;
        background-color: black;
        color: $rgba-secondary-2-2;
        font-size: 1rem;
        margin : 5px 20px;
        border-radius: 10px;
    }

     & div {
        flex-grow: 0;
        min-width: 150px;
        background-color: $rgba-secondary-2-3;
        border: 1px solid $rgba-secondary-2-1;
        margin : 5px 20px;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
        }

        & p {
            margin: 5px 10px;
            color : $rgba-secondary-2-1;
            text-align: center;

            &::before {
                /* content: '--= '; */
            }

            &::after {
                /* content: ' =--'; */
            } 
        }
    }

}




/* ::-webkit-scrollbar {
    width: 7px;
    background:  rgba(40,40,40,1); 
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(20,20,20,1); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background:  rgba(10,10,10,1); 
    border-radius: 5px;
}
     */



@media (max-width: 599px) {
    
    .lstGauContainer {
        display: flex;
        /* align-content: center; */
        /* justify-content: flex-start; */
        flex-wrap: nowrap;
        flex-flow: row;
        background-color: transparent;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden; 
        border-top: 1px solid $rgba-line;
    }

}



